.card{
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.hero{
  display: grid;
  grid-template-areas: 
  
  ;
}