body {
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 10px 0px 10px 0px;
}
.navbar {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-between;
}

.cat-title {
  text-align: center;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
