body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  font-family: "Slabo 27px", serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
p {
  max-width: 55ch;
  font-family: "Montserrat", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-between;
}

.cat-title {
  text-align: center;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
